%h1.title Listing genres
.row
  .col-md-10.col-md-offset-1
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th Name
          %th Tempo
          %th Vocals
          %th Actions

      %tbody
        - @genres.each do |genre|
          %tr
            %td= genre.name
            %td= genre.tempo
            %td= genre.vocals 
            %td= link_to 'Edit', edit_genre_path(genre)

            %br

    = link_to 'New Genre', new_genre_path

.row
  .col-md-6.col-md-offset-3
    .transition1-title
      %h1 This is a transition
.row
  .transition1-container
    .col-md-2.col-md-offset-5
      .col-md-6.col-md-offset-3
        .transition1-box 
          %p stuff
.row
  .col-md-6.col-md-offset-3
    .transformation1-title
      %h1 This is a transformation
.row
  .transformation1-container
    .col-md-2.col-md-offset-5
      .col-md-6.col-md-offset-3
        .transformation1-box 
          %p stuff
