.row
  .col-md-4
    -if admin?
      %h3
        Admin: Delete this user
      = link_to "Delete", admin_destroy_user_path(@user), method: :delete , class: "btn btn-danger",
              data: { confirm: "Can't undo this. Ok?" }
  .col-md-4.authform
    %h3
      Edit Info
    = simple_form_for(@user) do |f|
      .form-inputs
        = f.input :full_name
        = f.input :city
        = f.input :state , :label => "State/Province"
        = f.input :country , :as => :string
        = f.input :info
        = f.input :link , :label => "Link to your main dance (use full link, including http://, www., etc.)"

      .form-actions
        = f.button :submit
