.row
  .col-md-3
    %div
      %h1
        = @user_scope.length.to_s
        Users
  .col-md-9.m20
    = search_form_for @q, :html => { :class => "form-inline" }, :method => :get do |f|
      .form-group
        .input-group
          = f.text_field :full_name_cont , :class => "form-control" , :placeholder => "Name" , :size => 10
      .form-group
        .input-group
          = f.text_field :city_cont , :class => "form-control" , :placeholder => "City" , :size => 12
      .form-group
        .input-group
          = f.text_field :state_cont , :class => "form-control" , :placeholder => "State" , :size => 8
      .form-group
        .input-group
          = f.text_field :country_cont , :class => "form-control" , :placeholder => "Country" , :size => 12
      = f.submit "Search", :class => "btn btn-success" , :id => :filter
      = link_to  "Cancel", users_path, :class => "btn btn-warning"
.row
  .col-md-12
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th= sort_link @q , :name
          %th= sort_link @q , :city
          %th= sort_link @q , :state , "State/Province"
          %th= sort_link @q , :country
          -if admin?
            %th= sort_link @q , :given , "Latest Song Added"
            %th= sort_link @q , :used
            %th= sort_link @q , :count
          %th Link
          %th Info
      %tbody
        - @users.each do |user|
          %tr{:class => "line-#{cycle("1","2")}"}
            %td
              -if admin?
                = link_to user.full_name , user
              -else
                = user.full_name
            %td= user.city
            %td= user.state
            %td= user.country
            -if admin?
              %td= user.given
              %td= user.used
              %td= user.count
            %td
              = link_to( link_text(user) , user.link , :target => :_blank) if user.link

            %td
              = user.info
              = link_to( " (edit)" , edit_user_path(user))  if admin?
  = paginate @users
