%h3 User
%p
  Name:
  =@user.name.to_s
%p
  Email:
  = @user.email
%p
  Info:
  = @user.info
%p
  Added:
  = @user.added
%p
  City:
  = @user.city
%p
  Country:
  = @user.country
%p
  Hear:
  = @user.hear
%p
  Group:
  = @user.group
