%h3 User
%p
  Name:
  =@user.full_name.to_s
%p
  Email:
  = @user.email
%p
  Info:
  = @user.info
%p
  Added:
  = @user.added
%p
  City:
  = @user.city
%p
  State/Region:
  = @user.state
%p
  Country:
  = @user.country
%p
  Hear:
  = @user.hear
%p
  Group:
  = @user.group
