.form-inputs
  = f.input :title
  = f.input :artist
  = f.input :album
  = f.input :tempo
  = f.association :main_genre , :include_blank => false
  = f.input :sub_genre
  = f.input :link
  = f.input :info

.form-actions
  = f.button :submit
