.row
  .col-md-3
    %div
      %h1= @song_scope.length.to_s + " Songs"
  .col-md-9.m20
    = search_form_for @q, :html => { :class => "form-inline" }, :method => :get do |f|
      .form-group
        .input-group
          = f.text_field :user_name_cont , :class => "form-control" , :placeholder => "User" , :size => 10
      .form-group
        .input-group
          = f.text_field :title_cont , :class => "form-control" , :placeholder => "Title"
      .form-group
        .input-group
          = f.text_field :artist_cont , :class => "form-control" , :placeholder => "Artist"
      .form-group
        .input-group
          = f.text_field :main_genre_cont , :class => "form-control" , :placeholder => "Genre"
      = f.submit "Search", :class => "btn btn-success" , :id => :filter
      = link_to  "Cancel", songs_path, :class => "btn btn-warning"
.row
  .col-md-12
    %table.table.table-condensed
      %thead
        %tr
          %th= sort_link @q , :date_added
          %th= sort_link @q , :user_name
          %th= sort_link @q , :title
          %th= sort_link @q , :artist
          %th= sort_link @q , :album
          %th= sort_link @q , :tempo
          %th= sort_link @q , :main_genre
          %th Link
          %th Info

      %tbody
        - @songs.each do |song|
          %tr{:class => "line-#{cycle("1","2")}"}
            %td.title= song.date_added.to_s
            %td.title= song.user_name
            %td.title= song.title
            %td.title= song.artist
            %td.title= song.album
            %td.title= song.tempo
            %td.title
              = song.main_genre
              - if song.sub_genre
                /
                song.sub_genre
            %td.title
              = link_to( song_text(song) , song.link , :target => :_blank) if song.link
            %td.title
              = song.info
              -if (admin? or current_user.id == song.user_id)
                = link_to 'Edit', edit_song_path(song)

    = paginate @songs
  %br

  = link_to 'New Song', new_song_path
