%p#notice= notice

%p
  %b User:
  = @song.user_name
%p
  %b Added:
  = @song.date_added.to_s
%p
  %b Title:
  = @song.title
%p
  %b Artist:
  = @song.artist
%p
  %b Album:
  = @song.album
%p
  %b Speed:
  = @song.tempo
%p
  %b Main Genre:
  = @song.main_genre.name if @song.main_genre
%p
  %b Sub Genre:
  = @song.sub_genre
%p
  %b Link:
  = link_to( song_text(@song) , @song.link , :target => :_blank) unless @song.link.blank?
%p
  %b Info:
  = @song.info

= link_to 'Back to list', songs_path
